extends includes/layout

block content

  // only head.js needed at first
  script(src='vendor/head.load-0.99.min.js')

  //head.js loader
  :coffeescript
    head.js { clinch_demo : "js/formatter.js?#{+new Date()}" }

  :coffeescript

    # to prettify our per-line explanation
    $ -> prettyPrint()

    show_data = (result) ->
      $(".printer_result").children().text JSON.stringify result, null, 2
      prettyPrint()
      null

    head.ready "clinch_demo", ->
      $ -> 
         {formatter} = clinch_demo.main
         res = formatter 'Mr. %s have acount #%d with $%d', 'Jonh Smith' , 4477, 788.22798798
         show_data res

  div.container
    h1 Printer Example

    div.span8
      h4 Пример использования printf функции
      p
        | Подгрузив на страницу собранный с помощью  
        strong clinch
        |  бандл, можно извлечь из него нужную нам функцию так:

      pre.prettyprint {formatter} = clinch_demo.main

      p 
        | Далее просто используем ее для вывода информации

      div.printer_code
        pre.prettyprint formatter 'Mr. %s have acount #%d with $%d', 'Jonh Smith' , 4477, 788.22798798

      p 
        | Эта функция даст нам вот такой результат (сформировано на клиенте)

      div.printer_result
        pre.prettyprint


        





