extends includes/layout

block content

  div.container
    h1 Clinch Demo
    
    div.span8
      p
        | Это демонстрация работы 
        strong clinch
        | .
      p
        | Будет приведено несколько вариантов упакованных бандлов и результаты их работы.

